.pageTitle {
  @apply font-title mb-24;
  font-size: clamp(28px, 6vw, 44px);
}

.experiencesContainer {
  @apply pb-12;
  width: min(90%, 1100px);
  margin-inline: auto;
}

.experiencesList {
  @apply flex flex-col gap-12;
  max-width: 750px;
  margin-inline: auto;
}
