.pictureWrapper {
  position: relative;

  &:before {
    z-index: -1;
    content: '';
    display: block;
    border-radius: 9999px;
    background: #5714B0;
    filter: blur(60px);
    top: -3%;
    right: -12%;
    position: absolute;
    height: clamp(130px, 12vw, 250px);
    width: clamp(130px, 12vw, 250px);
  }

  &:after {
    z-index: -1;
    content: '';
    display: block;
    border-radius: 9999px;
    background: #DC6D02;
    filter: blur(60px);
    bottom: -3%;
    left: -8%;
    position: absolute;
    height: clamp(130px, 12vw, 250px);
    width: clamp(130px, 12vw, 250px);
  }
}

.pictureWrapperImg {
  position: relative;
  z-index: 2;
  border-radius: 45px 5px;
  width: clamp(200px, 20vw, 340px);

  &Mobile {
    width: clamp(90px, 20vw, 130px);
    height: clamp(90px, 20vw, 130px);
    object-fit: cover;
    object-position: top center;
    border-radius: 5px;
  }
}

.descriptionWrapper{
  @apply flex flex-col lg:gap-8 md:gap-2;
}

.descriptionTitle {
  @apply font-title;
  font-size: clamp(28px, 4vw, 56px);
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionSubtitle {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 500;
}

.descriptionContentWrapper {
  @apply flex flex-col gap-4 items-start;
}
