.pictureWrapper {
  position: relative;
}

.pictureWrapperImg {
  position: relative;
  z-index: 2;
  border-radius: 45px 5px;
}

.descriptionWrapper{
  @apply flex flex-col gap-8;
}

.descriptionTitle {
  @apply font-title text-[56px];
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionSubtitle {
  font-size: 20px;
  font-weight: 500;
}

.descriptionContentWrapper {
  @apply flex flex-col gap-4 items-start;
}
