.skillsContainer {
  @apply pb-12;
  width: min(90%, 1100px);
  margin-inline: auto;
}

.skillsListContainer {
  @apply gap-20;
}

.pageTitle {
  @apply font-title mb-24;
  font-size: clamp(28px, 6vw, 44px);
}
