.articleWrapper {
  overflow: hidden;
  padding-bottom: 48px;
  & p {
    @apply my-4 text-justify;
  }

  & h3 {
    margin-top: 32px;
    @apply text-xl font-bold;
  }

  & a {
    color: var(--coral);
    font-weight: 600;
  }
}

.articleTitle {
  @apply font-title;
  font-size: clamp(38px, calc(1rem + 2vw), 58px);
  letter-spacing: 1px;
}

.articleDescription {
  @apply md:w-3/5
}

.articleHeader {
  @apply flex flex-col gap-8 content-start;
}

.imageContainer {
  width: min(90%, 700px);
  margin-inline: auto;
}

.image {
  object-fit: contain;
  position: relative !important;
  height: unset !important;
  width: 100%;
  margin-inline: auto;
}

.articleContentWrapper {
  width: min(90%, 950px);
  margin-inline: auto;
  @apply flex flex-col gap-6 items-start;
}

.linkedItemsContainer {
  @apply flex flex-col gap-2;
}
