.projectsSectionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding-top: 8vh;
  gap: 32px;
}

.projectsWrapper {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

.project {
  padding: 1rem;
  min-height: 350px;
  @apply flex flex-col border border-gray-300 rounded-md justify-between;
  box-shadow: 0 4px 16px 0 rgba(210, 115, 20, 0.12);

  &Header {
    @apply flex flex-col items-center gap-4;

    &Title {
      @apply font-title;
      font-size: clamp(22px, 4vw, 28px);
    }
  }

  &Content {
    @apply flex flex-col gap-8;
  }
}

.skillsList {
  position: relative;
  width: fit-content;
  font-size: clamp(14px, 2vw, 16px);
  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    left: -4px;
    right: -4px;
    top: -2px;
    bottom: -2px;
    background-color: var(--color);
    opacity: 0.6;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    transform: rotate(-2deg);
    left: 6px;
    right: 12px;
    top: -2px;
    bottom: -2px;
    background-color: var(--color);
    opacity: 0.3;
  }
}

.orange {
  --color: rgba(239, 132, 67);
}

.purple {
  --color: rgba(213, 153, 217);
}

.gray {
  --color: rgba(202, 196, 185);
}

.yellow {
  --color: rgba(224, 193, 96);
}

.coral {
  --color: rgba(236, 118, 82);
}

@media (max-width: 1024px) {
  .embla {
    --slide-size: 50% !important;
  }
}

@media (max-width: 768px) {
  .embla {
    --slide-size: 70% !important;
  }
}

@media (max-width: 580px) {
  .embla {
    --slide-size: 90% !important;
  }
}

.embla {
  --slide-spacing: 2rem;
  --slide-size: 32%;
  --slide-height: auto;
  height: 100%;
}

.emblaViewport {
  overflow: hidden;
  display: flex;
  height: 100%;
  align-items: center;
}

.emblaContainer {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
  max-width: 100vw;
  @apply pb-4;
}

.emblaSlide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  //height: var(--slide-height);
  display: flex;
  position: relative;
}
