@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}

:root {
  --background: #F5F4F1;
  --gradient2: linear-gradient(60deg, #F68B7B 0%, #FFF1D7 100%);
  --gradient-purple-to-pink: linear-gradient(88deg, #8F5992 0%, #C85C92 44%, #F28686 100%);
  --gradient-coral-to-pink: linear-gradient(75deg, #ee8181 0%, #fdb7be 65%);
  --orange: #DE9127;
  --dark-blue: #1E2F44;
  --blue: #2A5767;
  --green: #21625A;
  --dark-purple: #6A446C;
  --purple: #8B5C8D;
  --pink: #B85487;
  --coral: #e57373;
  --pale-pink: #F4C2C8;
}

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    font-weight: 300;
  }
}

.layoutWrapper {
  width: min(90%, 1440px);
  margin-inline: auto;
}

.fullHeightFlexContainer {
  @apply items-center justify-center relative;
  height: 100dvh;
  max-height: 100dvh;
  max-width: 100dvw;
  width: 100%;
}

img,
video {
  height: auto;
  max-width: unset;
}

/* Style for the navbar dropdown menus */
[data-radix-popper-content-wrapper] { top: 8px !important; }

