.navbar {
  @apply mix-blend-difference
  justify-between
  items-center
  h-[80px]
  min-w-0;

  & svg {
    fill: currentColor;
  }
}

.navbarContainer {
  @apply fixed top-0 left-0 right-0 z-[5];

  &.scroll {
    @apply bg-white;
    transition: background-color .5s ease;

    & .navbar {
      @apply text-black mix-blend-normal;

      & svg {
        @apply fill-black;
      }
    }
  }

  & * {
    @apply font-normal;
  }
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  z-index: 50;
}

.DialogContent {
  width: 90%;
  background: white;
  padding: 48px 16px 16px 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;

  & * {
    @apply font-extralight
    uppercase
    text-[14px];
  }
}

.DialogCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.progress {
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0;
  background-color: var(--coral);
}
